* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 15px 90px 0px 90px;
  position: relative;
  justify-content: space-between;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  line-height: 45px;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: 7px 25px;
  border: 0px;
  font-weight: 900;
  font-size: 15px;
}

.logo {
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hero-section {
  display: flex;
  background-color: #1f2937;
  padding: 90px 190px;
  gap: 40px;
  color: white;
  max-height: 450px;
}

.hero-section p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 25px;
  padding-bottom: 20px;
}

.hero-image img {
  width: 500px;
  height: 250px;
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
}

.images-carousel {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  padding-bottom: 50px;
}

.images-carousel img {
  max-width: 200px;
}

.images-carousel p {
  max-width: 150px;
  text-align: center;
}

.content-quote {
  background-color: #e5e7eb;
  text-align: center;
  padding: 80px 320px;
  font-size: 28px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  text-align: start;
}

.author {
  margin-top: 20px;
  text-align: end;
  font-weight: 600;
  font-size: 22px;
}

.content-CTA {
  display: flex;
  align-items: center;
  background-color: #3882f6;
  color: white;
  padding: 10px 160px 10px 60px;
  margin: 90px 190px;
  border-radius: 6px;
  font-weight: 200;
}

.CTA-info {
  margin-right: auto;
  padding: 40px 60px;
  line-height: 25px;
}

.content-CTA button {
  border: 1px solid white;
  border-radius: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 30px;
}
